/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

/* Variáveis de Cor do Tema "Hosts" */
:root {
    --text-color: #f7f3f3;
    --primary-color: #a788d9;
    --secondary-color: #8c76ad;
    --terciary-color: #382faa;
    --quarto-color: #9039d4;
    --quinto-color: #5433b8;
    --sexto-color: #7236c6;
    --oitavo-color: #442875;
    --danger-color: #ff7782;
    --warning-color: #ffbb55;
    --success-color: #41f1b6;
    --duvidosa-color: #363949;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f9;
    font-family: "Arimo", sans-serif;
    transition: background-color 0.5s ease;
    color: #363949;
}

/* Botão do Menu */
.botao-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 6;
    background: linear-gradient(to right, var(--sexto-color), var(--quarto-color));
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
}

.botao-menu:hover {
    background: linear-gradient(to right, var(--quinto-color), var(--sexto-color));
}

.botao-menu.ativo {
    left: 320px;
    transform: rotate(360deg);
}

/* Menu Lateral */
.menu-lateral {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    z-index: 5;
    background: linear-gradient(to bottom, var(--quarto-color), var(--terciary-color));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    left: 0;
}

.conta-item {
    margin-top: 10px;
    margin-bottom: 120px;
    padding: 25px 30px;
    transition: background-color 0.3s ease;
}

.conta-item:hover {
    background-color: var(--sexto-color);
}

.conta-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.conta-item a i {
    font-size: 60px;
    transition: transform 0.2s ease-in-out;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    padding: 25px 30px;
    transition: background-color 0.3s ease;
}

.menu-lateral ul li.active,
.menu-lateral ul li:hover {
    background-color: var(--sexto-color);
}

.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li a i {
    font-size: 30px;
    transition: transform 0.2s ease-in-out;
}

.menu-lateral ul li a:hover i {
    transform: translateX(5px) rotate(5deg);
}

/* Conteúdo Principal */
.conteudo {
    margin-left: 60px;
    padding: 40px;
    color: var(--oitavo-color);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.conteudo.ativo {
    margin-left: 360px;
}

.conteudo h1 {
    font-size: 2rem;
    color: var(--oitavo-color);
}
.conteudo p {
    color: #677483;
    margin-bottom: 2rem;
}

/* Fundo de Sobreposição */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.background.ativo {
    visibility: visible;
    opacity: 1;
}

/* Item de Logout */
.logout-item {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.logout-item:hover {
    background-color: var(--quinto-color);
}

.logout-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px 30px;
}

/* Cartões de Insights Personalizados */
.insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.insights > div {
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0 1rem 2rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
    color: var(--text-color);
    background: linear-gradient(to right, var(--sexto-color), var(--quarto-color));
}

.insights > div:hover {
    box-shadow: none;
}

.insights > div i {
    font-size: 2.5rem;
}

.insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

.insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.insights svg {
    width: 7rem;
    height: 7rem;
}

.insights svg circle {
    fill: none;
    stroke: var(--text-color);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    opacity: 0.6;
}

.insights .sales svg circle { stroke-dasharray: 200; stroke-dashoffset: 0; } /* 100% */
.insights .expenses svg circle { stroke-dasharray: 200; stroke-dashoffset: 80; } /* 60% */
.insights .income svg circle { stroke-dasharray: 200; stroke-dashoffset: 190; } /* 5% */

.insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insights small {
    display: block;
    margin-top: 1.3rem;
}


/* Tabela de Pedidos Recentes */
.recent-orders {
    margin-top: 2rem;
}

.recent-orders h2 {
    margin-bottom: 0.8rem;
}

.recent-orders table {
    background: #fff;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}

.recent-orders table:hover {
    box-shadow: none;
}

.recent-orders table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: #677483;
}

.recent-orders table tbody tr:last-child td {
    border: none;
}

.recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--sexto-color);
}

.danger { color: var(--danger-color); }
.warning { color: var(--warning-color); }
.success { color: var(--success-color); }

/* Responsividade */
@media screen and (max-width: 1200px) {
    .insights {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
}
@media screen and (max-width: 768px) {
    .insights {
        grid-template-columns: 1fr;
    }
    .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    .recent-orders table {
        width: 100%;
        margin: 0;
    }
    .conteudo {
        margin-left: 20px;
        padding: 20px;
    }
    .conteudo.ativo {
        margin-left: 320px;
    }
}



.insights > div h1, /*Para alteração de número nos ativos*/
.insights > div h2,
.insights > div h3,
.insights > div p,
.insights > div span {
    color: #ffffff; 
}

.insights .progress .number {
    position: absolute;
    top: 65%;
    left: 48%;
    transform: translate(-50%, -50%); /* centraliza perfeitamente */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* cor do texto da porcentagem */
    font-weight: bold;
}

